@font-face {
    font-family: gilroy;
    src: url(./font_img_vid/Gilroy-Light.ttf);
}
@font-face {
    font-family: gilMed;
    src: url(./font_img_vid/Gilroy-Medium.ttf);
}
@font-face {
    font-family: gilBold;
    src: url(./font_img_vid/Gilroy-Bold.ttf);
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}
html,body{
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}
#main{
    width: 100%;
    background-color: black;
}
#nav{
    display: flex;
    width: 100vw;
    height: 10vh;
    background-color: #CDCECF;
}
#nav-left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0vw 9vw;
    width: 50%;
    height: 100%;
}
#nav-left>a{
    text-decoration: none;
    font-family: gilMed;
    font-size: 1.1rem;
    color: rgba(27, 25, 25, 0.735);
    font-weight: 300;
}
#nav-left>a>i{
    border-radius: 50%;
    border: 1px solid black;
}
#nav-left #vide{
    color: black;
}
#nav-right{
    padding: 0vw 7vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 100%;
}
#nav-right>a{
    text-decoration: none;
    font-family: gilMed;
    font-size: 1.1rem;
    color: rgb(34, 32, 32);
    font-weight: 300;
}
.page{
    width: 100%;
    height: 100vh;
}

/* This is the first page css code---------------------------------------------------------------- */
#page1{
    position: relative;
    background-color: aqua;
}
#pg1-video{
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 80vh;
    background-color:rgb(255, 0, 0) ;
}
#pg1-video video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#pg1-ani-top{
    display: flex;
    position: absolute;
    top: 0%;
    width: 100%;
    height: 80%;
    background-color: #CDCECF;
}
#pg1-ani-btm{
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 20%;
    background-color: white;
}
#pg1-ani-top #pg1-at-left{
    /* position: relative; */
    padding-left: 7vw;
    width: 60%;
    height: 100%;
    /* background-color: cornflowerblue; */
}
#pg1-ani-top #pg1-at-right{
    position: relative;
    width: 40%;
    height: 100%;
    /* background-color: rgb(22, 181, 54); */
}
#pg1-at-right>h1{
    line-height: 3vh;
    position: absolute;
    bottom: 15%;
    right: 15%;
    width: 70%;
    font-family: gilroy;
    font-size: 1.4vw;
}
#pg1-at-left h1{
    height: fit-content;
    font-family: gilMed;
    /* font-size: 5vw; */
    font-weight: 900;
}
#pg1-at-left h2{
    font-family: gilMed;
    /* font-size: 5vw; */
    font-weight: 900;
    color: white;
    opacity: 0;
}
#pg1-at-left h2 span{
    display: inline-block;
    transform: translateY(200%);
    z-index: 99999999;
    opacity: 0;
    /* font-size: 1vw; */
}
#pg1-at-left h1 span{
    display: inline-block;
    transform: translateY(200%);
    z-index: 99999999;
    /* font-size: 1vw; */
}

#pg1-at-left .pg1-cir{
    margin-top: 5vw;
    /* gap: 2vw; */
    border-radius: 50%;
    position: absolute;
    bottom: 10%;
    width: 10vw;
    height: 10vw;
    
}
#pg1-cir1{
    border: 2px solid black;
    /* animation: cir3 10s linear infinite both; */

}
#pg1-cir2{
    left: 10%;
    /* top: 30%; */
    border: 2px solid rgb(255, 255, 255);
    /* animation: cir3 10s linear -1s reverse infinite both; */

}
#pg1-cir3{
    left: 13%;
    border: 2px solid black;
    /* animation: cir3 10s linear -5s infinite both; */

}




/* This is the page2 css code  */

#page2{
    position: relative;
    display: flex;
    background-color: white;
}
.pg2-left{
    position: relative;
    width: 50%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.pg2-right{
    position: relative;
    width: 50%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.pg2-left .pg2-left-top{
    display: flex;
    gap: 2vw;
    align-items: center;
    font-family: gilroy;
    width: 80%;
    height: 5vh;
    margin-top: 7vh;
    /* background-color: black; */
}
.pg2-left-top>h1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    font-size: 1rem;
    width: 3vw;
    height: 3vw;
    color: white;
}
.pg2-left-top>h2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 5vh;
    font-size: 1.1vw;
    background-color: #777c81;
    border-radius: 50px;
    color: white;
}
.pg2-left .pg2-left-box{
    overflow: hidden;
    position: relative;
    width: 80%;
    height: 55%;
    /* background-color: blue; */
    margin-bottom: 3vh;
}
.pg2-left-btm-box{
    position: relative;
    width: 100%;
    /* height: 80%; */
    /* background-color: green; */
}
.pg2-left-btm-text{
    font-family: gilroy;
    width: 100%;
    height: 20%;
    /* background-color: rgb(105, 144, 105); */
}
.pg2-left-btm-box>img{
    width: 100%;
}
.pg2-left-btm-box>img:hover{
    transition: cubic-bezier(0.19, 1, 0.22, 1)2s;
    width: 105%;
}
.pg2-left-btm-box>i{
    border-radius: 50%;
    border: 1px solid black;
    position: absolute;
    right: 3%;
    bottom: 8%;
    font-size: 2vw;
}
.pg2-left-btm-box>i:hover{
    background-color: #47494b;
    color: white;
    transition: cubic-bezier(0.19, 1, 0.22, 1)2s;
}

.pg2-left-btm-text>h1{
    font-size: 2vw;
    color: #1f2020;
}
.pg2-left-btm-text>h2{
    font-size: 1.7vw;
    color: #47494b;
}
.pg2-right .text{
    margin-top: 8vh;
    width: 80%;
}
.text .Digital{
    font-size: 3vw;
    font-family: gilMed;
}
.text .line{
    width: 0%;
    height: 5px;
    background-color: black;
}
.pg2-right>p{
    font-family: gilMed;
    width: 80%;
    font-size: 1.5vmax;
}
.pg2-right .pg2-right-box{
    position: relative;
    overflow: hidden;
    width: 80%;
    height: 55%;
    margin-bottom: 3vh;
    /* background-color: red; */
}
.pg2-right-btm-box{
    position: relative;
    width: 100%;
    /* height: 80%; */
    /* background-color: green; */
}
.pg2-right-btm-box>img{
    width: 100%;
    height: 100%;
}
.pg2-right-btm-box>img:hover{
    width: 105%;
    transition: cubic-bezier(0.19, 1, 0.22, 1)2s;
}
.pg2-right-btm-box>i{
    border-radius: 50%;
    border: 1px solid black;
    position: absolute;
    right: 3%;
    top: 80%;
    font-size: 2vw;
}
.pg2-right-btm-box>i:hover{
    background-color: #47494b;
    color: white;
    transition: cubic-bezier(0.19, 1, 0.22, 1)2s;
}
.pg2-right-btm-text{
    width: 100%;
    height: 20%;
    /* background-color: blue; */
    font-family: gilroy;
}
.pg2-right-btm-text>h1{
    color: #1f2020;
    font-size: 2vw;
}
.pg2-right-btm-text>h2{
    font-size: 1.7vw;
    color: #47494b;
    font-family: gilroy;
}

/* This is the page3 css code  */
#page3{
    background-color: #ffffff;
    display: flex;
}
#page4{
    background-color: #ffffff;
    display: flex;
}
#page5{
    background-color: white;
    display: flex;
}
#page6{
    position: relative;
    display: flex;
    background-color: #CDCECF;
}
#page6 #pg6-left{
    position: relative;
    width: 50%;
    height: 100%;
    background-color: #191B1D;
}
#page6 #pg6-right{
    padding: 12vh 0vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    height: 100%;
    background-color: #191B1D;
}
#pg6-left>h1{
    font-family: gilroy;
    font-size: 1.3vw;
    position: absolute;
    left: 15%;
    top: 10%;
    color: white;
}
#pg6-left>h2{
    font-size: 1.2vw;
    font-family: gilroy;
    position: absolute;
    left: 15%;
    top: 13%;
    color: white;
}
#pg6-left .pg6-box{
    border-radius: 50%;
    position: absolute;
    bottom: 25%;
    /* left: 15%; */
    width: 17vw;
    height: 17vw;
    border: 1px solid rgb(168, 162, 162);
}
#pg6-box1{
    left: 20%;
    animation: cir3 10s linear -2s infinite both;
}
#pg6-box2{
    left: 25%;
    animation: cir3 10s linear -15s infinite both;
}
#pg6-box3{
    left: 30%;
    animation: cir3 10s linear -9s infinite both;
    animation-direction: reverse;
}
#pg6-box4{
    left: 35%;
    animation: cir3 10s linear infinite both;
    animation-direction: reverse;
}
#pg6-box5{
    left: 40%;
    animation: cir3 10s linear -5s infinite both;
    animation-direction: reverse;
}

.pg6-box::after{
    position: absolute;
    left: 10%;
    top: 10%;
    content: "";
    width: 1px;
    height: 1px;
    border-radius: 50%;
    background-image: linear-gradient(green, yellow);
    box-shadow: 0px 0px 20px 5px greenyellow,
                50px 2px 3px 2px greenyellow,
                200px 2px 3px 2px greenyellow,
                300px 2px 3px 2px rgb(79, 250, 0),
                400px 2px 3px 2px greenyellow,
                0px 0px 50px 10px greenyellow,
                60px 2px 3px 2px greenyellow,
                20px 2px 3px 2px rgb(225, 255, 0)
}
@keyframes cir3 {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
}

#pg6-right .pg6r-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: gilBold;
    font-size: 2.2vw;
    color: white;
    box-shadow: 0px 1px 0px 0px rgb(114, 112, 112);
    width: 80%;
    height: 10vh;
    /* border: 2px solid black; */
    cursor: pointer;
}
#pg6-right .pg6r-box>i{
    background-color: #525456;
    color: rgb(228, 222, 222);
    cursor: pointer;
    border-radius: 50%;
    font-size: 1.5vw;
}

/* This is the page7 css code */
#page7{
    position: relative;
    background-color: #CDCECF;
    display: flex;
}
#page7 #pg7-left{
    position: relative;
    width: 50%;
    height: 100%;
}
#page7 #pg7-right{
    padding: 4vw;
    width: 50%;
    height: 100%;
}
#pg7-left>h3{
    font-family: gilMed;
    position: absolute;
    left: 15%;
    top: 7%;
    color: #585b5f;
    font-weight: 500;
}
#pg7-right>p{
    /* margin-left: 2vw; */
    font-family: gilBold;
    font-size: 2.3vw;
    width: 80%;
    color: #252727;
    line-height: 5vh;

}
#pg7-right>h1{
    font-size: 10rem;
    font-family: gilBold;
    color: white;
    margin-top: 6vh;
    /* margin-left: 2vw; */
}
#pg7-right>h2{
    font-family: gilroy;
    position: absolute;
    right: 5%;
    font-size: 1vw;
    color: #5c5e61;
}
#pg7-right #pg7-about{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-top: 2vh;
    width: 10vw;
    height: 5vh;
    color: #1d1e1e;
    background-color: rgb(157, 150, 150);
}

/* This is the page8 swiper js css code  */

#page8{
    position: relative;
    width: 100%;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #5d2e2e; */
    background-color: #CDCECF;


}
#page8>h1{
    font-family: gilBold;
    font-size: 5vw;
    position: absolute;
    top: 3%;
    left: 10%;
}
#page8 #page8-box{
    font-family: gilroy;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    height: 70vh;
}
#page8 .pg8-box{
    width: 30%;
    height: 100%;
    background-color: rgb(248, 246, 246);

}
.pg8-box>img{
    width: 100%;
    height: 40%;
}
.pg8-box>h2{
    margin-top: 4vh;
    margin-left: 3vw;
    font-size: 2vmax;
}
.pg8-box>p{
    margin-top: 10vh;
    margin-left: 3vw;
    font-size: 1.5vmax;
}
.pg8-box>p>span{
    color: rgb(108, 104, 104);
}


#footer{
    font-family: gilMed;
    position: relative;
    display: flex;
    width: 100%;
    height: 50vh;
    background-color: #fdfdfd;
}
#fot-left{
    position: relative;
    width: 33%;
    height: 100%;
}
#fot-medium{
    padding: 3vw;
    display: flex;
    flex-direction: column;
    width: 33%;
    font-family: gilBold;
    height: 100%;
}
#fot-right{
    font-family: gilBold;
    padding: 2vw;
    display: flex;
    gap: 2vw;
    width: 33%;
    height: 100%;
}
#fot-left>h1{
    cursor: pointer;
    position: absolute;
    left: 30%;
    top: 10%;
    font-size: 1.5rem;
}


#fot-medium>a{
    margin-top: 1vh;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.779);
}
#fot-right #presentation{
    cursor: pointer;
    color: #050505b9;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    font-size: 1vw;
    width: 15vw;
    height: 5vh;
    background-color: #cfd2d6c5;
}
#fot-right #GetInTouch{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
    border-radius: 50px;
    width: 10vw;
    height: 5vh;
    color: rgba(255, 255, 255, 0.874);
    background-color: #191B1D;
}



/* media query------------------- */

@media screen and (mix-width: 480px) {
    /* page1 ----- */
    #pg1-ani-top{
        position: relative;
        display: flex;
        flex-direction: column;
    }
}